sudo: false
language: clojure
lein: 2.7.1
script: 
  - ./scripts/test.sh $TEST
env:
  matrix:
  - TEST=clj
  - TEST=cljs
matrix:
  exclude:
    - env: TEST=cljs
      jdk: openjdk7
jdk:
  - oraclejdk8
node_js:
  - "6.1"
cache:
  directories:
  - "$HOME/.m2"
